
html
    head
            title MultiVision
            link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
            link(rel="stylesheet" href="/vendor/toastr/toastr.css")
            link(rel="stylesheet" href="/css/site.css")
        base(href="/")
    body(ng-app="app")
        not
        block main-content
include scripts